In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [2]:
df.drop('id', axis=1)

,keyword,location,text,target
0,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...
7608,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
df.drop('id', axis=1).drop('keyword', axis=1)

     location                                               text  target
0         NaN  Our Deeds are the Reason of this #earthquake M...       1
1         NaN             Forest fire near La Ronge Sask. Canada       1
2         NaN  All residents asked to 'shelter in place' are ...       1
3         NaN  13,000 people receive #wildfires evacuation or...       1
4         NaN  Just got sent this photo from Ruby #Alaska as ...       1
...       ...                                                ...     ...
7608      NaN  Two giant cranes holding a bridge collapse int...       1
7609      NaN  @aria_ahrary @TheTawniest The out of control w...       1
7610      NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611      NaN  Police investigating after an e-bike collided ...       1
7612      NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

In [4]:
df = pd.read_csv("train.csv")

df.drop(["id", "keyword", "location"], axis=1, inplace=True)
df.reset_index(inplace=True, drop=True)
print(df.head())

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1